In [1]:
import pandas as pd

In [3]:
db = pd.read_csv('analise.csv', delimiter=';', error_bad_lines=False)

c:\users\douglas henrique\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (32,33,34,35,36,37,38,39) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
db.head(10)

,",Admitidos/Desligados",Compet�ncia Declarada,Munic�pio,Ano Declarado,CBO 2002 Ocupa��o,CNAE 1.0 Classe,"CNAE 2.0,Classe",CNAE 2.0 Subclas,Faixa Empr In�cio Jan,Grau Instru��o,...,"Regi�o,Adm.2,SP","Regi�o,Corede","Regi�o,Corede,04","Regi�o,Gov,SP","Regi�o.1,Senac,PR","Regi�o,Senai,PR","Regi�o.1,Senai.1,SP","Sub-Regi�o,Senai.2,PR","Ind,Trab,Parcial","Ind,Trab.1,Intermitente"
0,"0,""01",201901,510267,2019,413110,1155,1156,115600,1,9,...,999,{�,99,999,99,{�,999,99,0,"0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
1,"1,""01",201901,510805,2019,622020,1112,1113,111301,1,7,...,999,{�,99,999,99,{�,999,99,0,"0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
2,"2,""01",201901,510263,2019,622020,1155,1156,115600,1,7,...,999,{�,99,999,99,{�,999,99,0,"0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
3,"3,""01",201901,510267,2019,141115,1120,1121,112101,1,9,...,999,{�,99,999,99,{�,999,99,0,"0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
4,"4,""01",201901,510525,2019,621005,1155,1156,115600,1,9,...,999,{�,99,999,99,{�,999,99,0,"0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
5,"5,""01",201901,510525,2019,641005,1155,1156,115600,1,7,...,999,{�,99,999,99,{�,999,99,0,"0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
6,"6,""01",201901,510735,2019,622020,1155,1156,115600,1,5,...,999,{�,99,999,99,{�,999,99,0,"0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
7,"7,""01",201901,510735,2019,622020,1155,1156,115600,1,7,...,999,{�,99,999,99,{�,999,99,0,"0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
8,"8,""01",201901,510370,2019,622020,1155,1156,115600,1,7,...,999,{�,99,999,99,{�,999,99,0,"0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
9,"9,""01",201901,510626,2019,621005,1155,1156,115600,1,7,...,999,{�,99,999,99,{�,999,99,0,"0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"

In [5]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2616053 entries, 0 to 2616052
Data columns (total 42 columns):
 #   Column                   Dtype
---  ------                   -----
 0   ,Admitidos/Desligados    object
 1   Compet�ncia Declarada    int64
 2   Munic�pio                int64
 3   Ano Declarado            int64
 4   CBO 2002 Ocupa��o        int64
 5   CNAE 1.0 Classe          int64
 6   CNAE 2.0,Classe          int64
 7   CNAE 2.0 Subclas         int64
 8   Faixa Empr In�cio Jan    int64
 9   Grau Instru��o           int64
 10  Qtd Hora,Contrat         int64
 11  IBGE,Subsetor            int64
 12  Idade                    int64
 13  Ind,Aprendiz             int64
 14  Ind,Portador,Defic       int64
 15  Ra�a,Cor                 int64
 16  Sal�rio,Mensal           object
 17  Saldo,Mov                int64
 18  Sexo                     int64
 19  Tempo,Emprego            object
 20  Tipo,Estab               int64
 21  Tipo,Defic               int64
 22  Tipo,Mov,Desagregado     int64
 23  UF                       int64
 24  Bairros,SP               object
 25  Bairros,Fortaleza        object
 26  Bairros,RJ               object
 27  Distritos,SP             object
 28  Regi�es,Adm,DF           int64
 29  Mesorregi�o              int64
 30  Microrregi�o             int64
 31  Regi�o,Adm.1,RJ          object
 32  Regi�o,Adm.2,SP          object
 33  Regi�o,Corede            object
 34  Regi�o,Corede,04         object
 35  Regi�o,Gov,SP            object
 36  Regi�o.1,Senac,PR        object
 37  Regi�o,Senai,PR          object
 38  Regi�o.1,Senai.1,SP      object
 39  Sub-Regi�o,Senai.2,PR    object
 40  Ind,Trab,Parcial         int64
 41  Ind,Trab.1,Intermitente  object
dtypes: int64(25), object(17)
memory usage: 838.3+ MB