In [1]:
'''
    Trabalho de Análise de Dados Públicos - Cadastro geral de Empregados e Desempregados
    Alunos: 
        Douglas Henrique T. Barboza
        Jonatas dos Reis Ferreira
'''

'\n    Trabalho de Análise de Dados Públicos - Cadastro geral de Empregados e Desempregados\n    Alunos: \n        Douglas Henrique T. Barboza\n        Jonatas dos Reis Ferreira\n'

In [2]:
### Import Library
import pandas as pd
low_memory=False
import matplotlib.pyplot as plt
%matplotlib inline
pd.options.display.max_columns = 80
pd.options.display.max_rows = 90

In [7]:
### Realizando leitura do arquivo:
df = pd.read_csv("../acumulado202003.txt", sep=";", error_bad_lines=False)

In [8]:
### Visualizar as 10 primeiros registros:
df.head(10)

,competência,região,uf,município,seção,subclasse,admitidos,desligados,fonte_desl,saldo
0,202001,4.0,41,411840,P,8513900.0,0,2,1,-2
1,202001,4.0,43,430640,C,1091102.0,0,3,1,-3
2,202001,3.0,31,311660,N,7739099.0,15,8,1,7
3,202001,3.0,35,355030,G,4664800.0,0,1,1,-1
4,202001,3.0,35,350320,C,1092900.0,1,0,1,1
5,202001,2.0,29,292740,Q,8610101.0,1,0,1,1
6,202001,3.0,35,350950,C,2861500.0,1,0,1,1
7,202001,3.0,33,330455,M,7112000.0,2,0,1,2
8,202001,3.0,31,317020,N,7732201.0,2,4,1,-2
9,202001,3.0,33,330100,N,8111700.0,2,1,2,1

In [10]:
### Visualizar as informações sobre as colunas:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2324430 entries, 0 to 2324429
Data columns (total 10 columns):
 #   Column       Dtype
---  ------       -----
 0   competência  int64
 1   região       float64
 2   uf           int64
 3   município    int64
 4   seção        object
 5   subclasse    float64
 6   admitidos    int64
 7   desligados   int64
 8   fonte_desl   int64
 9   saldo        int64
dtypes: float64(2), int64(7), object(1)
memory usage: 177.3+ MB

In [12]:
### Sortear 20 registros:
df.sample(20)

,competência,região,uf,município,seção,subclasse,admitidos,desligados,fonte_desl,saldo
1311735,202002,3.0,31,316200,A,115600.0,1,4,1,-3
1572178,202002,1.0,15,150170,N,8211300.0,0,1,1,-1
529380,202001,5.0,53,530010,I,5611201.0,0,1,1,-1
738866,202001,3.0,31,314330,P,8599699.0,0,1,1,-1
417692,202001,3.0,35,351880,N,7820500.0,108,84,1,24
1573454,202002,3.0,31,315980,G,4771701.0,2,0,1,2
1481260,202002,3.0,31,310350,G,4763601.0,1,1,1,0
1871348,202003,3.0,35,352050,J,6141800.0,0,3,1,-3
1927649,202003,3.0,35,353870,J,6209100.0,0,1,1,-1
2056154,202003,3.0,33,330455,I,5611203.0,0,2,1,-2
597886,202001,3.0,31,310620,I,5510803.0,0,1,1,-1
1543530,202002,3.0,33,330455,P,8593700.0,0,1,1,-1
1629409,202003,5.0,52,520870,I,5611203.0,0,1,1,-1
1644521,202003,4.0,42,420440,G,4744099.0,0,1,1,-1
2015639,202003,3.0,35,355030,H,4930202.0,1,1,1,0
898057,202002,1.0,15,150140,I,5611201.0,1,2,2,-1
1801543,202003,3.0,31,312570,A,151201.0,0,1,1,-1
1222205,202002,3.0,33,330455,H,5223100.0,0,1,1,-1
1744039,202003,3.0,35,351907,C,2732500.0,2,1,1,1
599318,202001,3.0,35,350950,G,4530701.0,2,0,1,2